// TODO: Reference the .item-page lesscode (based on the blogcode) here
.item-page {
	.date {
		min-height: 80px;
	}
	.item-image {
		clear: both;
		float: none;
		width: intrinsic;
		margin: auto;
	}
	.introtext {
		font-weight: bold;
		line-height: 1.3em;
		margin-bottom: 30px;
		clear: both;
	}
	.fulltext {
		line-height: 1.3em;
	}
	.article-advert, .article-advert-2 {
		min-width: 240px;
		margin: 10px auto;
	}
}