.blog, .blog-featured {
	margin-right: 5px;
	margin-left: 10px;
	.items-leading .leading-0, .items-row .item {
		border-bottom: 4px solid @menu-background;
		overflow: hidden;
		padding-bottom: 10px;
	}
	h1, h2, h3, h4, h5, h6 {
		margin-top: 0.5em;
		margin-bottom: 0px;
		a {
			color: #4d4d4d;
		}
	}
	.article-info {
		margin-top: 0.2em;
		font-size: 0.8em;
		.article-info-term {
			display: none;
		}
		.createdby {
			color: @menu-background;
		}
		.categoryname {
			color: @color-link;
		}
	}
	.item-image {
		border: 4px solid @menu-background;
		float: left;
		margin-right: 10px;
		border-radius: 5px;
		margin-bottom: 10px;
	}
	p {
		font-size: 0.9em;
	}
	.date {
		width: 50px;
		float: left;
		min-height: 110px;
		text-align: center;
		margin-right: 15px;
		margin-top: 0.8em;
		.published {
			background-image: url('../images/date-bg.png');
			margin: auto;
			height: 47px;
			width: 48px;
			font-family: @font-title;
			line-height: 0.95em;
			.month {
				text-transform: uppercase;
				font-size: 0.7em;
				color: @menu-background;
				clear: both;
				padding-top: 1px;
			}
			.day {
				font-size: 1.4em;
				clear: both;
			}
			.year {
				font-size: 0.4em;
				clear: both;
				margin-top: 0px;
			}
		}
	}
}