// Wedstrijduitslagen
.uitslag {
	clear: right;
	font-size: 0.65em;
	border-spacing: 0px 0px;
	border-width: 3px;
	border-color: @color-text;
	border-style: solid;
	margin-bottom: 20px;
	width: 100%;
	thead td {
		font-size: 1.2em;
		border-bottom-width: 2px;
		border-bottom-style: solid;
		background-color: @color-bg-module;
		font-weight: bold;
		width: 4%;
	}
	td {
		text-align: center;
		border-bottom-color: @color-text;
		border-bottom-width: 1px;
		border-bottom-style: dashed;
		padding-right: 5px;
		padding-left: 5px;
	}
	.lastline td {
		border-bottom-width: 0px;
	}
	.winner {
		color: @color-main;
		font-weight: bold;
	}
	.naam {
		width: 28%;
	}
	.details {
		text-align: left;
		border-left-color: @color-text;
		border-left-style: solid;
		border-left-width: 1px;
		width: 16%;
	}
}

// Tabs
.tab-content {
	ul {
		margin-top: 0px;
	}
}

// jEvents
#jevents {
	margin: 16px 10px;
	#jevents_body {
		font-size: 0.8em;
		a {
			color: @color-link;
		}
		.jev_edt, .jev_evdt {
			padding: 0px;
		}
		.jev_evdt_creator {
			color: @color-text;
			font-size: 0.8em;
			margin-bottom: 20px;
		}
		.jev_eventdetails_body {
			font-size: 0.9em;
		}
		.jeveventrow {
			min-height: 0;
		}
		.jev_toprow .jev_header2_container  div.currentmonth {
			color: @color-text !important;
		}
		.jev_listrow {
			.eventfull {
				margin-top: 0px;
				a {
					font-size: 1.5em;
				}
			}
		}
	}
	.jevicons {
		display: none;
	}
	.jev_toprow {
		height: 23px;
		.jev_header {
			display: none;
		}
	}
	.event_legend_name {
		font-weight: normal;
	}
	.showntime {
		display: none;
	}
	.jev_daywithevents {
		margin: 0px;
		width: 100%;
	}
}

#component {
	#jevents {
		#jevents_body {
			font-size: 1em;
		}
	}
}

.jevbootstrap {
	h2 {
		font-size: 1.5em;
		line-height: 1em;
		font-weight: normal;
		font-family: @font-title;
		margin-top: 0.5 em;
		margin-bottom: 0px;
	}
}

// Override the behavior of jEvents to show the category image when no image is attached on the Standard Image upload
.posterimage {
	.catimage {
		display:none;
	}
}

// mod_login
#ttactua-login {
	div {
		display: inline;
	}
	img {
		display: inline;
		margin: 0px 2px;
		vertical-align: middle;
	}
	#form-login-submit {
		margin-right: 5px;
	}
	// FIX: Password placeholder is taken down on Safari
	#modlgn-passwd {
		-webkit-padding-before: 1px;
	}
	#form-login-submit {
		.btn {
			height: 25px;
			// FIX : Text on loginbutton is taken down in FF for Windows
			padding: 0px 12px;
 		}
	}
}

// Media Manager
ul.manager.thumbnails {
	padding: 0	;
	list-style: none;
	.height-50 {
		img {
			margin: auto;
		}
	}
	.small {
		margin: 4px 0px;
		font-size: 0.6em;
	}
}

// Follow us
.custommainmenu {
	background-color: @color-main;
	margin-top: -16px; // TODO: Fix admin-menu to remove this?
	margin-left: 10px;
	margin-right: 10px;
	p {
		text-align: center;
		color: white;
		padding-bottom: 15px;
		img {
			display: inline;
			margin: 5px;
		}
	}
}

.element-invisible {
	display:none;
}

// Project Wonderful
.customsidebanner {
	width: 234px;
	margin: auto;
}

// Cookie Accept
#footer div#ca_info_plus {
	text-transform: none;
}

#footer div#ca_banner {
	text-transform: none;
	border: none !important;
	background-color: @color-bg-moduletitle !important;
	background-image: none !important;

	p, div.accept {
		text-transform: none;
	}
	
	div.accept {
		border: 1px solid grey;
		margin-top: 10px;
		.border-radius(4px);
		.box-shadow(0 2px 3px rgba(0,0,0,0.2), inset 0 1px 0 rgba(255,255,255,0.2));
		background-color: @color-main;
		.bglineargradient(to bottom, lighten(@color-main, 30%), @color-main);

		// Hover/focus state
		&:hover,
		&:focus {
			background-color: @color-main;
			.bglineargradient(to bottom, @color-main, lighten(@color-main, 30%));
			color: white;
			border: 1px solid grey;
		}

		// Active state
		&.active,
		&:active {
			.box-shadow(0 1px 0 @color-main);
			color: white;
		}
	}
}

// Twitter
.front.twitter {
	background-color: white;
	.custom.twitter {
		margin: 0px;
		p {
			margin: 0px;
		}
	}
}

// RSS-feed
.light-rss-container {
	margin: 10px;
	.light-rss-list {
		list-style: none;
		font-family: @font-title;
		.uppercase();
		a {
			color: @color-text;
		}
		li {
			margin: 0px;
			font-size: 0.9em;
			line-height: 1em;
		}
		li:not(:last-child) {
			margin-bottom: 10px;
		}
	}
}

// Video
.yendif-video-share.front {
	margin: 0px;
}

// Ajax Infinity
.ai-next {
	float: right;
	margin-top: 15px;
	padding: 4px 12px;
	display: inline-block;
	border-radius: 4px;
	width: auto;
	.bglineargradient(top, lighten(@color-main, 30%), @color-main);
	border: 1px solid @color-main;
	color: white;
	background-color: @color-main;
	&:hover {
		background-color: lighten(@color-main, 30%);
		.bglineargradient(to bottom, @color-main, lighten(@color-main, 30%));
	}
}

// TT Livescore
#livescore
{
	margin-left: 10px;
	margin-right: 10px;
}