// Wedstrijduitslagen
.uitslag {
	clear: right;
	font-size: 0.65em;
	border-spacing: 0px 0px;
	border-width: 3px;
	border-color: #4D4D4D;
	border-style: solid;
	thead td {
		font-size: 1.2em;
		border-bottom-width: 2px;
		border-bottom-style: solid;
		background-color: #cccccc;
		font-weight: bold;
	}
	td {
		text-align: center;
		border-bottom-color: #4D4D4D;
		border-bottom-width: 1px;
		border-bottom-style: dashed;
		padding-right: 5px;
		padding-left: 5px;
	}
	.lastline td {
		border-bottom-width: 0px;
	}
	.winner {
		color: @menu-background;
		font-weight: bold;
	}
	.naam {
		width: 150px;
	}
	.details {
		text-align: left;
		border-left-color: #4D4D4D;
		border-left-style: solid;
		border-left-width: 1px;
		width: 100px;
	}
}

// Tabs
.tab-content {
	ul {
		margin-top: 0px;
	}
}

// jEvents
#jevents {
	margin: 16px 10px;
	#jevents_body {
		font-size: 0.8em;
		a {
			color: @color-link;
		}
		.jev_edt, .jev_evdt {
			padding: 0px;
		}
		.jev_evdt_creator {
			color: #00398d;
			font-size: 0.8em;
			margin-bottom: 20px;
		}
		.jev_eventdetails_body {
			font-size: 0.9em;
		}
		.jeveventrow {
			min-height: 0;
		}
	}
	.jevicons {
		display: none;
	}
	.jev_toprow {
		height: 23px;
		.jev_header {
			display: none;
		}
	}
	.event_legend_name {
		font-weight: normal;
	}
	.showntime {
		display: none;
	}
	.jev_daywithevents {
		margin: 0px;
		width: 100%;
		.eventfull {
			margin-top: 0px;
		}
	}
}

.jevbootstrap {
	h2 {
		font-size: 1.5em;
		line-height: 1em;
		font-weight: normal;
		font-family: @font-title;
		margin-top: 0.5 em;
		margin-bottom: 0px;
	}
}

// Override the behavior of jEvents to show the category image when no image is attached on the Standard Image upload
.posterimage {
	.catimage {
		display:none;
	}
}

// mod_login
#ttactua-login {
	div {
		display: inline;
	}
	img {
		display: inline;
		margin: 0px 2px;
		vertical-align: middle;
	}
	#form-login-submit {
		margin-right: 5px;
	}
	// FIX: Password placeholder is taken down on Safari
	#modlgn-passwd {
		-webkit-padding-before: 1px;
	}
	#form-login-submit {
		.btn {
			height: 25px;
		}
	}
}

// Media Manager
ul.manager.thumbnails {
	padding: 0	;
	list-style: none;
	.height-50 {
		img {margin: auto;}
	}
	.small {
		margin: 4px 0px;
		font-size: 0.6em;
	}
}

// Follow us
.custommainmenu {
	background-color: @menu-background;
	margin-top: -15px;
	margin-left: 10px;
	margin-right: 10px;
	font-family: "Trebuchet";
	font-size: 0.8em;
	p {
		text-align: center;
		color: white;
		padding-bottom: 15px;
		img {
			display: inline;
			margin: 5px;
		}
	}
}