// Wedstrijduitslagen
.uitslag {
	clear: right;
	font-size: 0.65em;
	border-spacing: 0px 0px;
	border-width: 3px;
	border-color: #4D4D4D;
	border-style: solid;
	thead td {
		font-size: 1.2em;
		border-bottom-width: 2px;
		border-bottom-style: solid;
		background-color: #cccccc;
		font-weight: bold;
	}
	td {
		text-align: center;
		border-bottom-color: #4D4D4D;
		border-bottom-width: 1px;
		border-bottom-style: dashed;
		padding-right: 5px;
		padding-left: 5px;
	}
	.lastline td {
		border-bottom-width: 0px;
	}
	.winner {
		color: @menu-background;
		font-weight: bold;
	}
	.naam {
		width: 150px;
	}
	.details {
		text-align: left;
		border-left-color: #4D4D4D;
		border-left-style: solid;
		border-left-width: 1px;
		width: 100px;
	}
}

// Tabs
.tab-content {
	ul {
		margin-top: 0px;
	}
}

// jEvents
#jevents {
	margin: 16px 10px;
	#jevents_body {
		font-size: 1em;
		a {
			color: @color-link;
		}
		.jev_edt, .jev_evdt {
			padding: 0px;
		}
		.jev_evdt_creator {
			color: #00398d;
			font-size: 0.8em;
			margin-bottom: 20px;
		}
		.jev_eventdetails_body {
			font-size: 0.9em;
		}
	}
}

.jevbootstrap {
	h2 {
		font-size: 1.5em;
		line-height: 1em;
		font-weight: normal;
		font-family: @font-title;
		margin-top: 0.5 em;
		margin-bottom: 0px;
	}
}

// mod_login
#ttactua-login {
	div {
		display: inline;
	}
	img {
		display: inline;
		margin: 0px 2px;
		vertical-align: middle;
	}
	#form-login-submit {
		margin-right: 5px;
	}
}