/* Dekstop */
ul#mainmenu {
	padding: 10px;
	background-color: @menu-background;
	color: white;
	margin-right: 10px;
	margin-left: 10px;
	li:nth-child(1) {
		border-top: 1px solid white;
	}
	li {
		list-style-type: none;
		font-family: @font-title;
		text-transform: uppercase;
		text-weight: bold;
		border-bottom: 1px solid white;
		padding-left: 10px;
		line-height: 1.5em;
		ul {
			padding-left: 10px;
		}
		li {
			border-bottom: none;
		}
		li:nth-child(1) {
			border-top: none;
		}
	}
	a, a:hover, a:visited {
		color: white;
	}
}

/* Sidr */
.sidr {
  display: block;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 290px;
  overflow-x: hidden;
  overflow-y: auto;
  background: @menu-background;
  color: white;
}

.sidr.left {
  left: -290px;
  right: auto;
}