.intrinsicwidth {
	width: intrinsic; // Safari/Webkit
	width: -moz-max-content; // FF
	width: -webkit-max-content; // Chrome
}

.bglineargradient(@direction, @topcolor, @bottomcolor) {
	background: @topcolor;
	background-image: -moz-linear-gradient(@direction, @topcolor, @bottomcolor); /* FF3.6+ */
	background-image: -webkit-gradient(@direction, @topcolor, @bottomcolor); /* Chrome, Safari4+ */
	background-image: -webkit-linear-gradient(@direction, @topcolor, @bottomcolor); /* Chrome10+, Safari5.1+ */
	background-image: -o-linear-gradient(@direction, @topcolor, @bottomcolor); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(@direction, @topcolor, @bottomcolor); /* IE10+ */
	background-image: linear-gradient(@direction, @topcolor, @bottomcolor);
}

.uppercase {
	text-transform: uppercase;
}

.border-radius(@radius) {
  -webkit-border-radius: @radius;
  border-radius: @radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

.box-shadow(@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow: @string;
	box-shadow: @string;
}

.box-shadow(@string1, @string2) {
	-webkit-box-shadow: @string1, @string2;
	-moz-box-shadow: @string1, @string2;
	box-shadow: @string1, @string2;
}

.slidecontainer {
	display: inline-block;
	background-color: @color-main;
	width: 100%;
	max-width: inherit;
	color: white;
	margin: 0;
	padding: 0.5em;
	opacity: 0.9;
	position: relative;
	left: 0;
}