.front {
	margin: 0 10px;
	padding-bottom: 10px;
	background-color: rgb(242,242,242);
	.moduletitle {
		background-color: #62696f;
		h3 {
			margin: 16px 0px 0px 10px;
			color: white;
			padding-bottom: 5px;
			line-height: 1.5em;
		}
	}
	.modulecontent {
		.mod_events_latest_table {
			margin-top: 10px;
			line-height: 1em;
			tr {
				height: 45px;
				vertical-align: text-top;
			}
		}
		.mod_events_latest, .mod_events_latest_first {
			margin-top: 10px;
			font-size: 0.9em;
			text-transform: uppercase;
			line-height: 12px;
			font-family: @font-title;
			.mod_events_latest_date {
				margin-left: 10px;
			}
		}
		.mod_events_latest_category {
			margin-left: 10px;
			font-family: "Trebuchet";
			color: @menu-background;
			text-transform: none;
		}
		.mod_events_latest_callink {
			margin: auto;
			width: 80%;
		}
	}
	.jevcarousel {
		.carousel-inner {
			height: 278px;
			background-color: #00398d;
			color: white;
			margin: 5px auto;
			img {
				border-radius: unset;
			}
			a {
				color: white;
			}
		}
		.carousel-control {
			top: 82%;
		}
		.carousel-control.left {
			left: 5px;
		}
		.carousel-control.right {
			right:5px;
		}
		.carousel-caption {
			font-family: @font-title;
			text-transform: uppercase;
			bottom: -93px;
			padding-left: 57px;
			padding-bottom: 20px;
			padding-top: 13px;
			height: 60px;
			background: inherit;
			line-height: 1.5;
			.carousel-content {
				max-width: 155px;
				.mod_events_latest_content {
					clear:both;
				}
				.jevcstart {
					float:none;
				}
			}
		}
		.carousel-indicators {
			bottom: -22px;
			li {
				background-color: #AAAAAA;
			}
			.active {
				background-color: #00398d;
			}
		}
	}
}