.front {
	margin: 0 10px;
	background-color: @color-bg-module;
	.moduletitle {
		background-color: @color-bg-moduletitle;
		h3 {
			margin: 16px 0px 0px 10px;
			color: white;
			padding-bottom: 5px;
			line-height: 1.5em;
		}
	}
	.modulecontent {
		padding-bottom: 10px;
		.jevbootstrap {
			.mod_events_latest_date, .mod_events_latest_content {
				vertical-align: middle;
			}
		}
		.mod_events_latest_table {
			margin: 10px 0px 10px 10px;
			line-height: 1em;
			padding-right: 20px;;
		}
		.mod_events_latest, .mod_events_latest_first {
			.uppercase();
			margin: 10px;
			padding: 7px 0px;
			font-size: 0.9em;
			line-height: 12px;
			font-family: @font-title;
		}
		.mod_events_latest_category {
			font-family: @font-body;
			color: @color-main;
			text-transform: none;
			font-size: 0.9em;
		}
		.mod_events_latest_callink {
			margin: auto;
			width: 80%;
		}
	}
}
	
// JoomSport
.sporttable {
	.modulecontent {
		padding-bottom: 0px;
	}
	.tblview {
		margin: 0;
		th {
			font-size: 0.9em;
		}
		.tblro1 { 
			td {
				background-color: white
			}
		}
		td {
			min-width: 20px;
			font-size: 0.8em;
			line-height: 1.5em;
		}
		.blteamname {
			padding-left: 5px;
			width: 80%;
		}
	}
}

.calendarslideshow {
	.modulecontent {
		padding-bottom: 0px;
	}
	.jevcarousel {
		img {
			margin: auto;
			.border-radius(0px);
		}
		.carousel-caption {
			position: relative;
			.border-radius(0px);
			max-width: 272px;
			margin: auto;
			background-color: @color-main;
			padding: 15px;
			.jevcstart {
				float: none;
				font-family: @font-title;
				text-transform: uppercase;
				margin-bottom: 10px;
				a {
					color: white;
				}
			}
			.carousel_title {
				margin-bottom: 10px;
				height: 2em;
				a {
					color: white;
				}
			}
			.carousel_category {
				color: white;
				font-style: italic;
				font-size: 0.9em;
			}
		}
	}
}

// mod_articles_category
#cheader {
	margin: auto;
	max-width: 560px;
	#slideContainer {
		h4 {
			display: inline-block;
			background-color: @color-main;
			width: 100%;
			max-width: inherit;
			color: white;
			margin: 0;
			padding: 0.5em;
			opacity: 0.9;
			position: relative;
			left: 0;
			bottom: 2em;
			height: 2em;
			overflow: hidden;
			a {
				color: white;
			}
		}
	}
	.front {
		background-color: white;
		.modulecontent {
			padding: 0px;
		}
	}
}

// FIX: merge with cheader
#right {
	#slideContainer {
		h4 {
			display: inline-block;
			background-color: @color-main;
			width: 100%;
			max-width: inherit;
			color: white;
			margin: 0;
			padding: 0.5em;
			opacity: 0.9;
			position: relative;
			left: 0;
			overflow: hidden;
			a {
				color: white;
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	#slideContainer {
		h4 {
			font-size: 0.7em;
		}
	}
}

// FIX: correct margin in cheader
#cheader {
	.front {
		margin-bottom: -30px;
	}
	.yendif-video-share.front { // FIX: video
		margin-bottom: 50px;
	}
}