.front {
	margin: 0 10px;
	background-color: rgb(242,242,242);
	.moduletitle {
		background-color: #62696f;
		h3 {
			margin: 16px 0px 0px 10px;
			color: white;
			padding-bottom: 5px;
			line-height: 1.5em;
		}
	}
	.modulecontent {
		padding-bottom: 10px;
		.jevbootstrap {
			.mod_events_latest_date, .mod_events_latest_content {
				vertical-align: middle;
			}
		}
		.mod_events_latest_table {
			margin: 10px 0px;
			line-height: 1em;
		}
		.mod_events_latest, .mod_events_latest_first {
			padding: 7px 0px;
			font-size: 0.9em;
			text-transform: uppercase;
			line-height: 12px;
			font-family: @font-title;
			.mod_events_latest_date {
				margin-left: 10px;
			}
		}
		.mod_events_latest_category {
			margin-left: 10px;
			font-family: "Trebuchet";
			color: @menu-background;
			text-transform: none;
		}
		.mod_events_latest_callink {
			margin: auto;
			width: 80%;
		}
	}
	.jevcarousel {
		.carousel-inner {
			height: 278px;
			color: @menu-background;
			margin: 5px auto;
			img {
				border-radius: 5px;
				margin: 0px auto;
			}
		}
		.carousel-control {
			top: 83%;
		}
		.carousel-control.left {
			left: 5px;
		}
		.carousel-control.right {
			right:5px;
		}
		.carousel-caption {
			font-family: @font-title;
			text-transform: uppercase;
			bottom: -60px;
			padding-left: 57px;
			padding-bottom: 20px;
			padding-top: 13px;
			height: 60px;
			background: inherit;
			line-height: 1.5;
			.carousel-content {
				max-width: 155px;
				.mod_events_latest_content {
					clear:both;
				}
				.jevcstart {
					float:none;
				}
			}
		}
		.carousel-indicators {
			bottom: -30px;
			li {
				background-color: #AAAAAA;
			}
			.active {
				background-color: #00398d;
			}
		}
	}
}
	
// JoomSport
.sporttable {
	.modulecontent {
		padding-bottom: 0px;
	}
	.tblview {
		margin: 0;
		th {
			font-size: 0.9em;
		}
		.tblro1 { 
			td {
				background-color: white
			}
		}
		td {
			min-width: 20px;
			font-size: 0.8em;
			line-height: 1.5em;
		}
		.blteamname {
			padding-left: 5px;
			width: 80%;
		}
	}
}

// mod_articles_category
#cheader {
	margin: auto;
	max-width: 560px;
	#slideContainer {
		h4 {
			display: inline-block;
			background-color: #00398d;
			width: 100%;
			max-width: inherit;
			color: white;
			margin: 0;
			padding: 0.5em;
			opacity: 0.8;
			position: relative;
			left: 0;
			bottom: 2em;
			height: 2em;
			overflow: hidden;
		}
	}
	.modulecontent {
		padding-bottom: 0;
		background-color: white;
	}
}
@media only screen and (max-width: 600px) {
	#slideContainer {
		h4 {
			font-size: 0.7em;
		}
	}
}