#component {
	#searchForm {
/* searchForm should be visible on TT.nu as there is nog embedded searchfield currently
			display: none;
*/
		margin-top: 15px; /* Needed if searchForm is visible */
	}
	.search-results {
		margin-left: 10px;
		margin-right: 10px;
		.result-title {
			.uppercase();
			font-family: @font-title;
			a {
				color: @color-text;			
			}
		}
		.result-category {
			font-size: smaller;
			font-style: italic;
		}
		.result-text {
			margin: 5px 0px 5px 40px;
			font-size: 0.9em;
		}
		.result-created {
			font-size: smaller;
			font-style: italic;
			margin-bottom: 15px;			
		}
	}
}