#component {
	#searchForm {
		display: none;
	}
	.search-results {
		.result-title {
			font-family: @font-title;
			text-transform: uppercase;
			a {
				color: #4D4D4D;			
			}
		}
		.result-category {
			font-size: smaller;
			font-style: italic;
		}
		.result-text {
			margin: 5px 0px 5px 40px;
			font-size: 0.9em;
		}
	}
}