* {
    box-sizing: border-box;
}

body {
	background-color: #e3feff;
}

img {
    max-width: 100%;
    height: auto;
}

#wrapper {
	max-width:1200px;
	background-color: white;
	margin:auto;
	border: 2px solid @tableblue;
	border-radius: 7px;
}

h1, h2, h3, h4, h5, h6, h7 {
	font-family: @titlefont;
}

.banneritem div {
	margin:auto;
	
}