* {
    box-sizing: border-box;
}

body {
	background-color: @background-site;
    margin: 0px 10px;
    font-family: Helvetica, Arial, FreeSans, sans-serif;
    color: #4d4d4d;
}

a {
	color: @color-link;
	text-decoration: none;
}
	
img {
    max-width: 100%;
    height: auto;
    display: block;
}

#wrapper {
	margin-top: 0px;
	max-width: 1200px;
	background-color: @background-component;
	margin: auto;
	border-radius: 7px;
	.row {
		box-shadow: inset 5px 0 5px -5px #333, inset -5px 0 5px -5px #333;
	}
}

#mobile-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	background-color: @menu-background;
	p {
		margin: 10px;
	}
}

#title {
	div.col-12 {
		padding: 0px 10px;
	}
	img {
		margin: auto;
	}
	p {
		margin: 0;
	}
}

h1, h2, h3, h4, h5, h6, h7 {
	font-family: @font-title;
	text-transform: uppercase;
	font-weight: normal;
}

.banneritem div, .banneritem table {
	margin: auto;
}

#mobile-menu {
	.search {
		margin-left: 10px;
		padding: 10px;
	}
}