//TODO: make some variables changeable in the templatemanager of Joomla
@background-site: #e8eef3;
@background-component: white;
@border-site: #224e6b;
@font-title: 'HelveticaNeueW02-87HvCn 694072';
@menu-background: #00398d;
@color-link: rgb(38, 152, 222);