//TODO: make some variables changeable in the templatemanager of Joomla
/** COLORS **/
@color-main: #145CAE;
@color-bg-site: #DBEFFF;
@color-bg-component: white;
@color-bg-module: #EEEEEE;
@color-bg-moduletitle: #62696f;
@color-border-site: #224e6b;
@color-link: #145CAE;
@color-link-active: #4B75B8;
@color-text: #4d4d4d;
@color-text-footer: #999999;

/** FONTS **/
@font-body: Helvetica, Arial, FreeSans, sans-serif;
@font-title: 'HelveticaNeueW02-87HvCn 694072';
